[[org.clojure/clojure       "1.7.0" :scope "provided"]
 [org.clojure/clojurescript "1.7.228" :scope "provided"]
 [degree9/bootlaces          "0.1.13" :scope "test"]
 [degree9/boot-semver       "1.2.1" :scope "test"]
 [tolitius/boot-check       "0.1.1" :scope "test"]
 [funcool/boot-codeina      "0.1.0-SNAPSHOT" :scope "test"]
 [cljsjs/firebase           "3.2.1-0"]
]
